{% extends 'base.html' %}

{% block section%} {% endblock %}
{% block section1 %}

<div class="container paddingtop">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

<h1 class="h1Buscar">Buscar Juego</h1>

<form action="" method="post">
{% csrf_token %}
Buscar: <input type="text" name="busqueda" id="busqueda"/>
</br></br>
<div class="d-flex justify-content-center"">
<input type="submit" class='btn btn-success mr-2' value="Buscar" />
<a class="btn btn-secondary" href="{% url "soporte:list" %}">volver</a>
</div>


</form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
{% endblock %}
