{% extends 'base.html' %}
{% load staticfiles %}
{% block section%}
{% endblock %}
{% block section1 %}
<div class="container paddingtop">
<h1 class="h1Login">Iniciar sesión</h1>
<form method="post" action=".">
{% csrf_token %}


<div class="text-center">
	
<div class="col-sm-4 mx-auto">
<ul class="list-group">
    
        <li class="list-group-item my-1">
            
            <p>
                <p>Usuario: <i class="cdisplayblock">{{ form.username }}</i></p> 
                <p>Contraseña:<i class="cdisplayblock">{{ form.password }}</i></p>
                
            </p>
        </li>
	<p>
	<input class="btn btn-primary" type="submit" value="Iniciar sesion" />
	<input type="hidden" name="next" value="{{ next }}" />
	</p>
	<p>
Regístrate aquí
<a href="{% url 'registration_register' %}">Registrarse</a>
</p>

<p>
¿Has olvidado tu contraseña?
<a href="{% url 'auth_password_reset' %}">Restablecer</a>
</p>
</ul>
	
</div>
 </div>


</form>
</div>

{% endblock %}


<!--
	{#% extends 'base/base.html' %#}
{#% block section1 %#}
<h1>Login</h1>
<form method="post" action=".">
#{% csrf_token %}
#{{ form.as_p }}
<input type="submit" value="Log in" />
#<input type="hidden" name="next" value="{{ next }}" />
</form>
<p>
Not a member?
#<a href="{% url 'registration_register' %}">Register</a>
</p>

<p>
¿Has olvidado tu contraseña?
#<a href="{% url 'auth_password_reset' %}">Restablecer</a>
</p>
{#% endblock %#}--->



